*.class

# Package Files #
*.jar
*.war
*.ear
doc/*
# nbproject/private/private.xml
# nbproject/project.bak.xml
RunTestsProject/nbproject/private/private.xml
/dist/
# nbproject/project.xml
build/resources/META-INF/MANIFEST.MF
